/* New Orders table theming */
.dashboardColors :global(.ant-table-row-expand-icon) {
  color: var(--color-accent);
}

.dashboardColors :global(.ant-table-row-expand-icon:hover) {
  color: var(--color-accent-hover);
}

.dashboardColors :global(.ant-table-expanded-row) {
  background: var(--color-expanded-row);
}

.dashboardColors :global(.ant-table-row:hover) {
  background: var(--color-row-hover);
}
